{% extends 'layout.html' %}
{% load static %}

{% block title %}Browse Recipes {% endblock %}

{% block body %}
<div class="results-heading">
    <h1>Browse Recipes</h1>
</div>

<div class="container">
    <div id="filters">
        <div id="search-div">
            <form action="/search" method="">
                <h6>Search</h6>
                <input type="text" class='form-control' id="search-bar" name="search-bar" placeholder="">
            </form>
        </div>
        <div id="dropdowns">
            <div>
                <h6>Filters</h6>
                <select id="dietary-filters" name="dietary-filters" class="form-select">
                    <option selected value="all">All</option>
                    <option value="vegan">Vegan</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="dairyfree">Dairy Free</option>
                    <option value="glutenfree">Gluten Free</option>
                </select>                  
            </div>
            <div>
                <h6>Sort By</h6>
                <select id="sort-by" name="sort-by" class="form-select">
                    <option selected value="default">Default</option>
                    <option value="top-rated">Top Rated</option>
                    <option value="recently-added">Recently Added</option>
                </select>   
            </div>
        </div>
    </div>
    <div class="recipe-list" id="saved-recipes">
        {% for recipe in recipes %}
            <article id="recipe-card">
                {% if recipe.spoonacular_id %}
                    <a href="{% url 'recipe' recipe_id=recipe.spoonacular_id %}" class="recipe-listing-link">
                {% else %}
                    <a href="{% url 'recipe' recipe_id=recipe.id %}" class="recipe-listing-link">
                {% endif %}
                    <div class="recipe-image">
                        {% if not recipe.created_by %}
                            <img class="recipe-card-img" src="{{ recipe.recipedetails.image }}" alt="recipe-image">
                        {% else %}
                            <img class="recipe-card-img" src="{{ recipe.recipedetails.upload_image.url }}" alt="recipe-image">
                        {% endif %}
                    </div>
                    <div class="recipe-content">
                        <h3 class="recipe-title" id="recipe-title">{{ recipe.title }}</h3>
    
                        <p hidden id="added-on" data-added-on='{{ recipe.added_on|date:"c" }}'></p>
                        <p hidden id="is-vegan" data-vegan='{{ recipe.recipedietarytags.vegan }}'></p>
                        <p hidden id="is-vegetarian" data-vegetarian='{{ recipe.recipedietarytags.vegetarian }}'></p>
                        <p hidden id="is-dairyfree" data-dairyfree='{{ recipe.recipedietarytags.dairy_free }}'></p>
                        <p hidden id="is-glutenfree" data-glutenfree='{{ recipe.recipedietarytags.gluten_free }}'></p>
    
                        <div class="recipe-rating">
                            <div>
                                {% if recipe.calculate_average_rating %}
                                <h6 id="rating" data-rating="{{ recipe.calculate_average_rating }}">Rating: {{ recipe.calculate_average_rating }}</h6>
                                {% endif %}
                            </div>
                            {% if recipe.recipedietarytags.check_tags %}
                                <div class="tags">
                                    {% for tag in recipe.recipedietarytags.check_tags %}
                                        <div class="{{tag}}">{{tag}}</div>
                                    {% endfor %}                
                                </div>
                            {% endif %}                        
                        </div>
                    </div>
                </a>
            </article>
        {% endfor %}    
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'filters.js' %}"></script>
{% endblock %}