{% extends 'layout.html' %}
{% load static %}

{% block title %}Browse Recipes {% endblock %}

{% block body %}
<div class="results-heading">
    <h1>Browse Recipes</h1>
</div>
<div id="filters">
    <button id="top-rated-btn">Top Rated</button>
    <button id="recently-added-btn">Recently Added</button>
    <button id="vegan">Vegan</button>
    <button id="vegetarian">Vegetarian</button>

</div>
<div class="container recipe-list" id="saved-recipes">
    {% for recipe in recipes %}
        <article id="recipe-card">
            {% if recipe.spoonacular_id %}
                <a href="{% url 'recipe' recipe_id=recipe.spoonacular_id %}" class="recipe-listing-link">
            {% else %}
                <a href="{% url 'recipe' recipe_id=recipe.id %}" class="recipe-listing-link">
            {% endif %}
                <div class="recipe-image">
                    {% if not recipe.created_by %}
                        <img class="recipe-card-img" src="{{ recipe.recipedetails.image }}" alt="recipe-image">
                    {% else %}
                        <img class="recipe-card-img" src="{{ recipe.recipedetails.upload_image.url }}" alt="recipe-image">
                    {% endif %}
                </div>
                <div class="recipe-content">
                    <h3 class="recipe-title">{{ recipe.title }}</h3>
                    <p hidden id="added-on" data-added-on='{{ recipe.added_on|date:"c" }}'></p>
                    <p hidden id="is-vegan" data-vegan='{{ recipe.recipedietarytags.vegan }}'></p>

                    <div class="recipe-rating">
                        {% if recipe.calculate_average_rating %}
                            <h6 id="rating" data-rating="{{ recipe.calculate_average_rating }}">Rating: {{ recipe.calculate_average_rating }}</h6>
                        {% endif %}
                        <h6>Servings: {{ recipe.recipedetails.servings }}</h6>
                    </div>
                </div>
            </a>
        </article>
    {% endfor %}    
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'filters.js' %}"></script>
{% endblock %}