{% extends 'layout.html' %}
{% load static %}

{% block title %}Browse Recipes {% endblock %}

{% block body %}
<div class="results-heading">
    <h1>Browse Recipes</h1>
</div>
<div id="filters">
    <button id="top-rated-btn">Top rated</button>
</div>
<div class="container recipe-list" id="saved-recipes">
    {% for recipe in recipes %}
        <article id="recipe-card">
            <a href="{% url 'recipe' recipe_id=recipe.spoonacular_id %}" class="recipe-listing-link">
                <div class="recipe-image">
                    {% if recipe.created_by %}
                        <img class="user-profile-recipe-img" src="{{ recipe.image.url }}" alt="recipe-image">
                    {% else %}
                        <img class="user-profile-recipe-img" src="{{ recipe.recipedetails_set.get.image }}" alt="recipe-image">
                    {% endif %}
                </div>
                <div class="recipe-content">
                    <h3 class="recipe-title">{{ recipe.title }}</h3>
                    <div class="recipe-rating">
                        {% if recipe.calculate_average_rating %}
                            <h6 id="rating" data-rating="{{ recipe.calculate_average_rating }}">Rating: {{ recipe.calculate_average_rating }}</h6>
                        {% endif %}
                        <h6>Servings: {{ recipe.recipedetails_set.get.servings }}</h6>
                    </div>

                </div>
            </a>
        </article>
    {% endfor %}    
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'filters.js' %}"></script>
{% endblock %}