{% extends 'layout.html' %}
{% load static %}

{% block title %}Add Recipe{% endblock %}

{% block body %}
<div class="results-heading">
    <h2 id="new-recipe-heading">Add a new recipe</h2>
    <h6>All fields are required</h6>
</div>
<div class="container new-recipe-container">
    <form action="{% url 'new_recipe' %}" class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_title"><h5>Title</h5></label>
        <div style="position: relative;">
            {{ form.title }}
            <span  class="char-count" id="char-count-title">0/75</span>
        </div>

        <label for="id_description"><h5>Description</h5></label>
        <div style="position:relative;">
            {{ form.description }}
            <span class="char-count" id="char-count-description">0/300</span>
        </div>

        <div id="instructions-div">
            <h5>Instructions:</h5>
            <ol id="instructions">
                <li><input class="form-control" name="recipe-instructions" type="text"></li>
            </ol>
            <button class="btn btn-dark" id="add-instruction">+</button>
            <button class="btn btn-dark" id="remove-instruction">-</button>
        </div>
        <div>
            <h5>Ingredients:</h5>
            <ol id="ingredients">
                <li><input class="form-control" name="recipe-ingredients" type="text"></li>
            </ol>
            <button class="btn btn-dark" id="add-ingredient">+</button>
            <button class="btn btn-dark" id="remove-ingredient">-</button>
        </div>

        <div id="add-recipe-flex" class="add-recipe-details">
            <div>
                <label for="id_servings"><h5>Servings</h5></label>
                {{ form.servings }}                
            </div>
            <div>
                <label for="id_cooking_time"><h5>Cooking Time</h5></label>
                {{ form.cooking_time }}                    
            </div>
            <div>
                <label for="id-image"><h5>Recipe Image</h5></label>
                {{ form.image }}   
            </div>
        </div>

        <input class="btn btn-primary" type="submit" name="" id="save-new-recipe" value="Add Recipe" disabled>

    </form>    
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'add_recipe.js' %}"></script>
{% endblock %}