{% extends 'layout.html' %}
{% load static %}

{% block title %}Add Recipe{% endblock %}

{% block body %}
<div class="results-heading">
    <h2 id="new-recipe-heading">Add a new recipe</h2>
</div>
<div class="container new-recipe-container">
    <form action="{% url 'new_recipe' %}" class="form" method="POST">
        {% csrf_token %}
        <input type="text" class='form-control new-recipe' name="recipe-title" id="new-recipe-title" placeholder="Title">
        <p id="keys-pressed">keys pressed: 0</p>
        <input type="text" class='form-control new-recipe' name="recipe-description"placeholder="Description">
        <input type="number" class='form-control new-recipe' name="recipe-servings" id="recipe-servings" placeholder="Servings">
        <label for="recipe-img">Recipe Image</label>
        <input type="file" name="recipe-img" class="new-recipe">

        <div id="add-recipe-flex">
            <div id="instructions-div">
                <h6>Instructions:</h6>
                <ol id="instructions">
                    <li><input class="form-control" name="recipe-instructions" type="text"></li>
                </ol>
                <button class="btn btn-dark" id="add-instruction">+</button>
                <button class="btn btn-dark" id="remove-instruction">-</button>
            </div>
            <div>
                <h6>Ingredients:</h6>
                <ol id="ingredients">
                    <li><input class="form-control" name="recipe-ingredients" type="text"></li>
                </ol>
                <button class="btn btn-dark" id="add-ingredient">+</button>
                <button class="btn btn-dark" id="remove-ingredient">-</button>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" name="" id="save-new-recipe" value="Add Recipe">

    </form>    
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'add_recipe.js' %}"></script>
{% endblock %}