{% extends 'layout.html' %}
{% load static %}

{% block title %}Add Recipe{% endblock %}

{% block body %}
<div class="results-heading">
    <h2 id="new-recipe-heading">Add a new recipe</h2>
</div>
<div class="container new-recipe-container">
    <form action="{% url 'new_recipe' %}" class="form" method="POST">
        {% csrf_token %}
        <div style="position: relative;">
            <input type="text" class="form-control new-recipe" name="recipe-title" id="new-recipe-title" placeholder="Title">
            <span  class="char-count" id="char-count-title">0/75</span>
        </div>
        <div style="position:relative;">
            <textarea name="recipe-description" class="form-control new-recipe" id="new-recipe-description"cols="30" rows="7" placeholder="Description"></textarea>
            <span class="char-count" id="char-count-description">0/300</span>
        </div>
        <input type="number" class='form-control new-recipe' name="recipe-servings" id="recipe-servings" placeholder="Servings">
        <label for="recipe-img">Recipe Image</label>
        <input type="file" name="recipe-img" class="new-recipe">

        <div id="add-recipe-flex">
            <div id="instructions-div">
                <h6>Instructions:</h6>
                <ol id="instructions">
                    <li><input class="form-control" name="recipe-instructions" type="text"></li>
                </ol>
                <button class="btn btn-dark" id="add-instruction">+</button>
                <button class="btn btn-dark" id="remove-instruction">-</button>
            </div>
            <div>
                <h6>Ingredients:</h6>
                <ol id="ingredients">
                    <li><input class="form-control" name="recipe-ingredients" type="text"></li>
                </ol>
                <button class="btn btn-dark" id="add-ingredient">+</button>
                <button class="btn btn-dark" id="remove-ingredient">-</button>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" name="" id="save-new-recipe" value="Add Recipe" disabled>

    </form>    
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'add_recipe.js' %}"></script>
{% endblock %}