<div class="extra-content">
    <div>
        <h4>Top recipes</h4>
        {% for top_recipe in top_recipes %}
            <hr>            
            <div>
                <a href="{% url 'recipe'  recipe_id=top_recipe.id %}">
                <h6>{{ top_recipe.title }}</h6>
                <img src="{{ top_recipe.image }}" alt="" style="width: 150px; height: 100px;">            
                </a>    
            </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <h4>Recent recipes</h4>
        {% for recent_recipe in recent_recipes %}
            <hr>
            <div>
                <a href="{% url 'recipe'  recipe_id=recent_recipe.id %}">
                <h6>{{ recent_recipe.title }}</h6>
                <img src="{{ recent_recipe.image }}" alt="" style="width: 150px; height: 100px;">            
                </a>    
            </div>
        {% endfor %}
    </div>
</div>