<div class="extra-content">
    <div>
        <h4>Top recipes</h4>
        {% for top_recipe in top_recipes %}
            <hr>            
            <div>
                <a href="{% url 'recipe'  recipe_id=top_recipe.id %}">
                <h6>{{ top_recipe.title }}</h6>
                {% if top_recipe.created_by %}
                    <img src="{{ top_recipe.recipedetails.upload_image.url }}" alt="recipe-image"  style="width: 150px; height: 100px;">
                {% else %}
                    <img src="{{ top_recipe.recipedetails.image }}" alt="recipe-image"  style="width: 150px; height: 100px;">            
                {% endif %}
                </a>    
            </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <h4>Recent recipes</h4>
        {% for recent_recipe in recent_recipes %}
            <hr>
            <div>
                <a href="{% url 'recipe'  recipe_id=recent_recipe.id %}">
                <h6>{{ recent_recipe.title }}</h6>
                {% if recent_recipe.created_by %}
                    <img src="{{ recent_recipe.recipedetails.upload_image.url }}" alt="recipe-image"  style="width: 150px; height: 100px;">
                {% else %}
                    <img src="{{ recent_recipe.recipedetails.image }}" alt="recipe-image"  style="width: 150px; height: 100px;">            
                {% endif %}
                </a>    
            </div>
        {% endfor %}
    </div>
</div>