{% extends 'layout.html' %}
{% load static %}
{% block title %}{{ user }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ profile }}</h1>

    <div>
        <button id="show-saved">Saved Recipes</button>
        <button id="show-user">User Recipes</button>        
    </div>
    <div id="saved-recipes">
        {% for recipe in recipes %}
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img class="recipe-listing-img" src="{{ recipe.image }}" alt="recipe-image">
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="recipe-card-title">
                        <h3>{{ recipe.title }}</h3>
                    </div>
                    <div id="recipe-card-ings">
                        <p>{{ recipe.description|safe }}</p>
                    </div>
                </div>
            </div>  
        {% endfor %}    
    </div>
    <div id="user-recipes">
        {% for recipe in user_recipes %}
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img class="recipe-listing-img" src="{{ recipe.image.url }}" alt="recipe-image">
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="recipe-card-title">
                        <h3>{{ recipe.title }}</h3>
                    </div>
                    <div id="recipe-card-ings">
                        <p>{{ recipe.description|safe }}</p>
                    </div>
                </div>
            </div>  
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'user_profile.js' %}"></script>
{% endblock %}