{% extends 'layout.html' %}
{% load static %}
{% block title %}{{ user }}{% endblock %}

{% block body %}
<div class="container user-container">
    <h1>{{ profile }}</h1>

    <div>
        <button class="btn btn-primary" id="show-saved">Saved Recipes</button>
        <button class="btn btn-primary" id="show-user">User Recipes</button>        
    </div>
        <div class="container recipe-list" id="saved-recipes">
            {% for recipe in recipes %}
                <article>
                    <a href="{% url 'recipe' recipe_id=recipe.id %}" class="recipe-listing-link">
                        <div class="recipe-image">
                            <img class="user-profile-recipe-img" src="{{ recipe.image }}" alt="recipe-image">
                        </div>
                        <div class="recipe-content">
                            <h3>{{ recipe.title }}</h3>
                            <!-- <div class="user-recipe-ingredients">
                                <h6>Ingredients:</h6>
                                <p>{{ recipe.ingredientsToList }}                            
                            </div> -->
                        </div>
                    </a>
                </article>
            {% endfor %}    
        </div>
    <div id="user-recipes">
        {% for recipe in user_recipes %}
            <article>
                <a href="{% url 'recipe' recipe_id=recipe.id %}" class="recipe-listing-link">
                    <div class="recipe-image">
                        <img class="recipe-listing-img" src="{{ recipe.image.url }}" alt="recipe-image">
                    </div>
                    <div class="recipe-content">
                        <h3 class="recipe-title">{{ recipe.title }}</h3>
                        <!-- <div class="user-recipe-ingredients">
                            <h6>Ingredients:</h6>
                            <p>{{ recipe.ingredients }}                        
                        </div> -->
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'user_profile.js' %}"></script>
{% endblock %}