{% extends 'layout.html' %}
{% block title %}Recipe Name {% endblock %}

{% block body %}
<div class="container">
    <img src="{{ image }}" alt="">

    <h1>{{ title }}</h1>
    <p>{{ summary|safe }}</p>
    <p>Servings: {{ servings }}</p>
    Ingredients:
    <ul>
        {% for ing in ingredients %}
        <li>{{ing}}</li>
        {% endfor %}
    </ul>
    Instructions:
    <ul>{{ instructions|safe }}
        <!-- {% for instr in instructions %}
            <li>{{ instr }}</li>
        {% endfor %} -->
    </ul>
</div>




{% endblock %}