body{
    height: 1080px;
}

.errorlist {
    padding: 0;
}
.error, .errorlist li {
    list-style: none;
    color: red;
}

.page-heading, .meal-search{
    text-align: center;
}
.page-heading {
    width: 100%;
    overflow: hidden;
}
.page-title{
    margin: auto;
}

.page-title h1{
    font-size: 4.5vw;
}

.page-title h5{
    font-size: 1.5vw;
}

.search-div {
    width: 50%;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 25px;
}

#recipe-search {
    width: 500px;
    margin: auto auto 12px;
}

#recipe-label{
    font-size: 1vw;
}



/* RESULTS */
.row {
    background-color: rgb(214, 255, 214);
    border-radius: 25px;
    margin-bottom: 10px;    
}

.recipe-card-title{
    display: block;
    text-wrap: wrap;
    word-wrap: normal;
    height: fit-content;
    margin: 10px 0 20px;
}

#recipe-card-ings{
    display: flex;
    justify-content: space-between;
}
#needed-ings{
    width: 50%;
    word-wrap: normal;
}
.rating{
    margin-top: 10px;
    background-color: rgb(66, 66, 66);
    width: fit-content;
    padding: 15px;
    border-radius: 25px;
}
.fa-burger{
    color: white;
}
.active {
    color: yellow;
}

/* Add recipe */
#add-recipe-flex{
    display: flex;
    justify-content: space-between;
}
#add-recipe-flex div {
    width: 48%;
}

#remove-instruction{
    display: none;
}