body{
    height: fit-content;
}
.navbar-brand {
    font-family: 'Agbalumo', cursive;
    color: #609966!important;
}

.nav-item, #recipe-title, h4 {
    font-family: 'Paytone One';
}
.btn {
    background-color: #609966!important;
    border: none;
}
.errorlist {
    padding: 0;
}
.error, .errorlist li {
    list-style: none;
    color: red;
}

.page-heading, .meal-search{
    text-align: center;
}
.page-heading {
    height: calc(100vh - 56px);
    width: 100%;
    overflow: hidden;
    background-image: url('website-bground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page-title{
    text-shadow: 2px 2px 10px black;
    margin: 100px auto;
}

.page-title h1{
    color: white;
    font-family: 'Agbalumo', cursive;
    font-size: 15vw;
    display: block;
    margin: 10px auto;
}

.page-title h5{
    color: whitesmoke;
    font-size: 5vw;
    margin-bottom: 80px;
}

.search-div {
    background-color: white;
    padding: 10px 25px;
    width: 75%;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    margin: 50px auto;  
}

#recipe-search {
    margin: auto auto 12px;
}

.recipe-search-error::placeholder{
    color: red;
}

#recipe-label{
    padding: 10px 25px;
    font-size: 3vw;
    color: rgb(142, 142, 142);
}

#photo-attribution {
    text-shadow: 1px 1px 3px black;
    color: whitesmoke;
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    text-align: center;
}

@media (min-width: 720px){
    .page-title h1{
        font-size: 10vw;
    }
    .page-title h5{
        font-size: 2.5vw;
    }
    #recipe-label{
        font-size: 2vw;
    }
}


@media (min-width: 1300px){
    .page-title h1{
        font-size: 9vw;
    }
    .page-title h5{
        font-size: 2.2vw;
    }
    #recipe-label{
        font-size: 1.2vw;
    }
}



/* RESULTS */
.results-heading{
    margin: 0 auto 15px;
    text-align: center;
    background-color: #609966;
    padding: 25px;
    color: #ffffff;
}


.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

article {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.recipe-title{
    font-family: 'Paytone One';
    margin: 10px 10px 35px;
}

.recipe-content p, .recipe-content h6 {
    text-align: left;
}
@media (min-width: 650px) {
    .recipe-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 660px) {
    .recipe-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.recipe-listing-link{
    color: black;
}





/* Add recipe */
#add-recipe-flex{
    display: flex;
    justify-content: space-between;
}
#add-recipe-flex div {
    width: 48%;
}

#remove-instruction{
    display: none;
}
#remove-ingredient{
    display: none;
}


/* VIEW RECIPE */
.recipe-body {
    margin: auto;
}
#recipe-image {
    width: 100%;
    height: auto;
    margin: 15px auto;
}

.extra-info{
    display: none;
}

@media (min-width: 1000px){
    #recipe-image{
        width: 75%;
    }
    .recipe-body {
        margin-right: 100px;
    }
    .extra-info {
        display: block;
        margin-top: 30px;
        margin-left: 40px;
    }
}
.rating{
    border-radius: 5px;
    background-color: #609966;
    width: fit-content;
    padding: 6px 12px;
}
.fa-burger{
    color: white;
}
.active {
    color: yellow;
}

#recipe-interactions{
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.recipe-save, .recipe-rate{
    margin: 5px 10px 25px;
}
/* USER PROFILE */
.recipe-listing-img{
    width: 100%;
    height: 100%;
}

/* TOP RECIPES */
.extra-content{
    border: 1px solid grey;
    padding: 15px;
    width: fit-content;

}