body{
    height: 1080px;
    overflow: hidden;
}
.page-heading, .meal-search{
    text-align: center;
}
.page-heading {
    width: 100%;
    overflow: hidden;
}
.page-title{
    margin: auto;
}

.page-title h1{
    font-size: 4.5vw;
}

.page-title h5{
    font-size: 1.5vw;
}

.search-div {
    width: 50%;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 25px;
}

#recipe-search {
    width: 500px;
    margin: auto auto 12px;
}

#recipe-label{
    font-size: 1vw;
}
